<template>
  <v-container>
    <h1 class="text-md-center">{{ msg }}</h1>
    <v-row>
      <v-col
        cols="4"
        v-for="restaurant in restaurants"
        :key="restaurant.id"
      >
        <v-card
          :loading="loading"
          class="my-12 mx-5"
          style="flex-direction: inline"
          max-width="374"
        >
          <template slot="progress">
            <v-progress-linear
              color="deep-purple"
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img
            height="250"
            src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
          ></v-img>
          <v-card-title>
            <h3>{{ restaurant.name }}</h3>
            <div>
              <p>{{ restaurant.description }}</p>
              <p>{{ restaurant.phoneNumber }}</p>
            </div>
          </v-card-title>
          <v-card-text>
            <v-row align="center" class="mx-0">
              <v-rating
                :value="4.5"
                color="amber"
                dense
                half-increments
                readonly
                size="14"
              ></v-rating>

              <div class="grey--text ml-4">4.5 (413)</div>
            </v-row>

            <div class="my-4 subtitle-1">
              <p>{{ restaurant.category }}</p>
            </div>

            <div>
              <p
                v-for="meal in restaurant.meals"
                :key="restaurant.meals.indexOf(meal)"
              >
                {{ meal.name }}
              </p>
            </div>
          </v-card-text>

          <v-divider class="mx-4"></v-divider>

          <v-card-title>Les disponibilité du soir</v-card-title>

          <v-card-text>
            <v-chip-group
              v-model="selection"
              active-class="deep-purple accent-4 white--text"
              column
            >
              <v-chip>17h 30</v-chip>

              <v-chip>19h30</v-chip>

              <v-chip>20h</v-chip>

              <v-chip>21h</v-chip>
            </v-chip-group>
          </v-card-text>

          <v-card-actions>
            <v-btn color="deep-purple lighten-2" text @click="reservation">
              Reservation
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import RestaurantService from "@/services/RestaurantService.js";
export default {
  name: "Restaurants",
  data: function () {
    return {
      search: "",
      loading: false,
      selection: 1,
      restaurants: [],
    };
  },
  props: {
    msg: String,
  },
  created() {
    this.getRestaurants();
  },
  methods: {
    async getRestaurants() {
      RestaurantService.getRestaurants().then((data) => {
        this.restaurants = data;
      });
    },
    reservation() {
      this.loading = true;

      setTimeout(() => (this.loading = false), 2000);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
