<template>
  <v-app>
    <v-app-bar dense flat>
      
      <v-btn href="/" elevation=0 class="mr-2">
        <v-img  height="35px" width="35px" src="./assets/logo.png"></v-img>
      </v-btn>
       <v-app-bar-nav-icon></v-app-bar-nav-icon>
      <v-app-bar-title>Good Food</v-app-bar-title>

      <v-spacer></v-spacer>
      
    </v-app-bar>
       <v-main>
        <Restaurants msg="Bienvenue sur votre application. Ici vous trouverez la liste de vos restautants !"/>
      </v-main>
  </v-app>
</template>

<script>

import Restaurants from './components/Restaurants.vue'

export default {
  name: 'App',
  components: {
    Restaurants
  }
}
</script>

